/* _content/Q1Calculator.UI/Components/Library/CalculatorDisplay.razor.rz.scp.css */
.pa-4[b-1lwxp7qk0w] {
  padding: 16px;
}

.ma-auto[b-1lwxp7qk0w] {
  margin: auto;
}

.mt-10[b-1lwxp7qk0w] {
  margin-top: 40px;
}


.center-vertical[b-1lwxp7qk0w] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.fixed-size[b-1lwxp7qk0w] {
  height: 100px; /* Setzen Sie die gewünschte Höhe */
  width: 100%;   /* Setzen Sie die gewünschte Breite */
  overflow: hidden; /* Verhindern, dass der Inhalt die Größe ändert */
  display: flex; /* Flexbox verwenden, um den Inhalt zu zentrieren */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  color: #6a1a21;
}
