@page "/"
@using System.Globalization

<PageTitle>Calculator</PageTitle>

<h3>Calculator</h3>

<div>
    <InputNumber @bind-Value="number1" /> <br />
    <InputNumber @bind-Value="number2" /> <br />
    
    <button @onclick="() => SetOperator('+')">+</button>
    <button @onclick="() => SetOperator('-')">-</button>
    <button @onclick="() => SetOperator('*')">*</button>
    <button @onclick="() => SetOperator('/')">/</button>
    
    <button @onclick="Calculate">=</button>
    
    <Display Value="@display" />
</div>

@code {
    private double number1;
    private double number2;
    private string selectedOperator;
    private string display;

    private void SetOperator(char op)
    {
        selectedOperator = op.ToString();
    }

    private void Calculate()
    {
        //Todo: Call Backends
        switch (selectedOperator)
        {
            case "+":
                
                break;
            case "-":
                
                break;
            case "*":
                
                break;
            case "/":
                break;
            default:
                
                break;
        }
    }
}