@page "/"
@using System.Globalization

<PageTitle>Calculator</PageTitle>

<h3>Calculator</h3>

<div>
    <InputNumber @bind-Value="number1" /> <br />
    <InputNumber @bind-Value="number2" /> <br />
    
    <button @onclick="() => SetOperator("+")">+</button>
    <button @onclick="() => SetOperator('-')">-</button>
    <button @onclick="() => SetOperator('*')">*</button>
    <button @onclick="() => SetOperator('/')">/</button>
    
    <button @onclick="Calculate">=</button>
    
    <Display Value="@display" />
</div>

@code {
    private double number1;
    private double number2;
    private string selectedOperator;
    private string display;

    private void SetOperator(string op)
    {
        selectedOperator = op;
    }

    private void Calculate()
    {
        switch (selectedOperator)
        {
            case "+":
                display = (number1 + number2).ToString(CultureInfo.InvariantCulture);
                break;
            case "-":
                display = (number1 - number2).ToString(CultureInfo.InvariantCulture);
                break;
            case "*":
                display = (number1 * number2).ToString(CultureInfo.InvariantCulture);
                break;
            case "/":
                if (number2 != 0)
                    display = (number1 / number2).ToString(CultureInfo.InvariantCulture);
                else
                    display = "Error";
                break;
            default:
                display = "Select an operator";
                break;
        }
    }
}